{% extends 'base.html' %}
{% load static %}
{% block title %}About {% endblock %}

{% block content %}
<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 style="color: beige;">
                About Us
              </h2>
            </div>
            <p>
              Welcome to EssayMetrics! We are a community of students, educators, and essay enthusiasts who are passionate about writing improvement. 
              Our goal is to provide tools and resources to help you get your best possible essay scores.

            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
