{% extends 'base.html' %}

{% block content %}
<section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 style="color: aliceblue;">
          Get In Touch
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
          <div class="form_container">
            <form action="{% url 'index' %}" method="post" onsubmit="submitForm()">
              {% csrf_token %}
              <div>
                  <input required type="text" name="name" placeholder="Your Name" style="color:beige;" />
              </div>
              <div>
                  <input required type="email" name="email" placeholder="Your Email" style="color: white;" />
              </div>
              <div>
                  <input required type="text" name="phone" placeholder="Your Phone" style="color: white;" />
              </div>
              <div>
                  <input required type="text" name="message" class="message-box" placeholder="Message"
                      style="color: white;" />
              </div>
              <div class="btn_box">
                  <button style="color: white;">
                      SEND
                  </button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
