{% extends 'base.html' %}
{% load widget_tweaks %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Essay</li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron bg-light shadow-sm">
            <h1 class="display-4">Grade: {{ essay.score }}</h1>
            <p class="lead">Congratulations! The maximum possible score for this essay is {{ essay.question.max_score }}</p>
            <hr class="my-4">
            <p>Your essay has been graded using Machine learning models.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn More</a>
        </div>
    </div>

    <div style="color: aliceblue;" class="container">
        <h2 class="display-4">Your Submission</h2>
        <p class="text-justify">{{ essay.content }}</p>
    </div>
{% endblock %}
