{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="hero_area">
    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Essays made easy
                                    </h1>
                                    <p>
                                        At EssayMetrics, our mission is to help students become better writers. 
                                        We provide an innovative essay scoring tool to get instant feedback on your writing, along with a community forum for essay help and discussions. 
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            About Us
                                        </a>
                                        <a href="" class="btn-2">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class=" col-lg-10 mx-auto">
                                        <div class="img-box">

                                            <img src="{% static 'images/slider-img.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        Discussions and<br>
                                        Improvement
                                    </h1>
                                    <p>
                                        We also host a lively essay discussion forum where members can get feedback on essay drafts, 
                                        ask questions about writing techniques, discuss current essay prompts or topics, and connect with other writers. </p>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Forums
                                        </a>
                                        <a href="" class="btn-2">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class=" col-lg-10 mx-auto">
                                        <div class="img-box">
                                            <img src="{% static 'images/slider-img.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
</div>


<!-- service section -->
<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 style="color: aliceblue;">
                Our Services
            </h2>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="{% static 'images/s1.png' %}" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Score Prediction
                        </h4>
                        <p>
                            Evaluate your score through Score Predictor.
                        </p>
                        <a href="">
                            Read More
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="{% static 'images/s2.png' %}" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Essay Forum
                        </h4>
                        <p>
                            Discuss the Essay related queries with the people around the World.
                        </p>
                        <a href="">
                            Read More
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <div class="box ">
                    <div class="img-box">
                        <img src="{% static 'images/s3.png' %}" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Writing Tips and Guides
                        </h4>
                        <p>
                            Consider EssayMetrics for the writing tips and tricks.
                        </p>
                        <a href="">
                            Read More
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            
           
           
        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2 style="color: whitesmoke;">
                            About Us
                        </h2>
                    </div>
                    <p>
                        Welcome to EssayMetrics! We are a community of students, educators, and essay enthusiasts who are passionate about writing improvement. 
              Our goal is to provide tools and resources to help you get your best possible essay scores.</p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box">

                    <img src=" {% static 'images/about-img.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end service section -->
<section class="server_section">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">

                    <img src="{% static 'images/server-img.jpg' %}" alt="">
                    <div class="play_btn">
                        <button>
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Overview of our Prediction Model
                        </h2>
                        <p>
                            You will be provided with few Essay related questions and the individual have to provide the answer tothose question.
                            Our model will provide you the score on the basis of your writing structure, clarity and use of grammar. (Provided score is not 100% accurate)
                        </p>
                    </div>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="price_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 style="color: aliceblue;">
                Our Pricing
            </h2>
        </div>
        <div class="price_container ">
            <div class="box">
                <div class="detail-box">
                    <h2>$ <span>49</span></h2>
                    <h6>
                        Startup
                    </h6>
                    <ul class="price_features">
                        <li>
                            2GB RAM
                        </li>
                        <li>
                            20GB SSD Cloud Storage
                        </li>
                        <li>
                            Weekly Backups
                        </li>
                        <li>
                            DDoS Protection
                        </li>
                        <li>
                            Full Root Access
                        </li>
                        <li>
                            24/7/365 Tech Support
                        </li>
                    </ul>
                </div>
                <div class="btn-box">
                    <a href="">
                        See Detail
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="detail-box">
                    <h2>$ <span>99</span></h2>
                    <h6>
                        Standard
                    </h6>
                    <ul class="price_features">
                        <li>
                            4GB RAM
                        </li>
                        <li>
                            50GB SSD Cloud Storage
                        </li>
                        <li>
                            Weekly Backups
                        </li>
                        <li>
                            DDoS Protection
                        </li>
                        <li>
                            Full Root Access
                        </li>
                        <li>
                            24/7/365 Tech Support
                        </li>
                    </ul>
                </div>
                <div class="btn-box">
                    <a href="">
                        See Detail
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="detail-box">
                    <h2>$ <span>149</span></h2>
                    <h6>
                        Business
                    </h6>
                    <ul class="price_features">
                        <li>
                            8GB RAM
                        </li>
                        <li>
                            100GB SSD Cloud Storage
                        </li>
                        <li>
                            Weekly Backups
                        </li>
                        <li>
                            DDoS Protection
                        </li>
                        <li>
                            Full Root Access
                        </li>
                        <li>
                            24/7/365 Tech Support
                        </li>
                    </ul>
                </div>
                <div class="btn-box">
                    <a href="">
                        See Detail
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="client_section ">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 style="color: aliceblue;">
                Testimonials
            </h2>
            <p style="color: antiquewhite;">
                Here are the view of our users regarding the EssayMetrics
            </p>
        </div>
    </div>
    <div class="container px-0">
        <div id="customCarousel2" class="carousel  slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">

                                        <img src="{% static 'images/client.jpg' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <div class="client_info">
                                            <div class="client_name">
                                                <h5>
                                                    Alice Andrews
                                                </h5>
                                                <h6>
                                                    User
                                                </h6>
                                            </div>
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            As a student struggling with essay writing, the instant scoring predictions from EssayMetrics's tool were a game-changer. 
                                            After writing a draft, I could submit it and immediately get feedback on where my essay stood on criteria like thesis, structure, and evidence usage. 
                                            The insights helped me pinpoint areas to focus my revision efforts. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">

                                        <img src="{% static 'images/client.jpg' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <div class="client_info">
                                            <div class="client_name">
                                                <h5>
                                                    Rebecca Trump
                                                </h5>
                                                <h6>
                                                    User
                                                </h6>
                                            </div>
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            The EssayMetrics forum is such an invaluable resource for any student working on improving their writing skills. 
                                            Being able to post essay drafts and get constructive feedback from fellow writers and moderators has really boosted my confidence. 
                                            I've learned so much about building strong arguments, organizing my thoughts, using transitions, and more through engaging in discussions. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/client.jpg' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <div class="client_info">
                                            <div class="client_name">
                                                <h5>
                                                    Ramesh Thapa
                                                </h5>
                                                <h6>
                                                    User
                                                </h6>
                                            </div>
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            With its useful scoring tool, active forum, and expert tips, EssayMetrics gave me all the resources I needed to take my writing to the next level. 
                                            I'm now a far more confident, articulate essay writer thanks to this platform. My scores have improved tremendously!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="contact_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 style="color: aliceblue;">
                Get In Touch
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="email" placeholder="Your Email" />
                        </div>
                        <div>
                            <input type="text" placeholder="Your Phone" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn_box ">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}