{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center" style="color: beige;">Login</h2>
      <form id="loginForm" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="loginUsername" style="color: beige;">Username</label>
          <input type="text" class="form-control" id="loginUsername" name="username" aria-describedby="usernameHelp" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label for="loginPassword" style="color: beige;">Password</label>
          <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="text-center mt-2" style="color: beige;">Not registered yet? <a href="{% url 'register' %}" style="color: beige;">Register</a></p>
    </div>
  </div>
</div>
{% endblock %}
