{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- service section -->

<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 style="color: aliceblue;">
                Our Services
            </h2>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="{% static 'images/s1.png'%}" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Score Prediction
                        </h4>
                        <p>
                            Evaluate your score through Score Predictor.
                        </p>
                        <a href="">
                            Read More
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="{% static 'images/s2.png'%}" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Essay Forum
                        </h4>
                        <p>
                            Discuss the Essay related queries with the people around the World.
                        </p>
                        <a href="">
                            Read More
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <div class="box ">
                    <div class="img-box">
                        <img src="{% static 'images/s3.png'%}" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Writing Tips and Guides
                        </h4>
                        <p>
                            Consider EssayMetrics for the writing tips and tricks.
                        </p>
                        <a href="">
                            Read More
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
