{% extends "base.html" %} 
{% block content %}
<style>
    *{
        color: aliceblue;
    }
    .container {
        text-align: center;
        margin-top: 50px;
    }

    .success-icon {
        color: green; /* Change color as desired */
        font-size: 48px;
    }

    /* Animation */
    @keyframes bounce {
        0% { transform: translateY(0); }
        50% { transform: translateY(-20px); }
        100% { transform: translateY(0); }
    }

    .success-icon {
        animation: bounce 1s ease infinite;
    }
</style>

<body>
    <div class="container">
        <span class="success-icon">&#10004;</span> <!-- Checkmark icon for success -->
        <h1>Success!</h1>
        <p>Your request has been successfully processed.</p>
        <a href="{% url 'essay_writing_forum'%}">Go back to Forum</a>
    </div>
</body>

{% endblock %}
