{% extends 'base.html' %}

{% block title %}View Answer - Essay Forum{% endblock %}

{% block content %}

<div style="background-color:aliceblue;" class="row tm-row">
    <div class="col-lg-4 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-2">
                <h2 class="pt-2 tm-color-primary tm-post-title">{{ content.title }}</h2>
                <span>
                <img src="{{ user.profile.picture.url }}" class="fa fa-user-circle fa-2x me-2">
                <p class="tm-mb-40">{{ content.time }} posted by {{ content.user.username }}</p>
            </span>
                <p>{{ content.description }} </p>
                <span class="d-block text-right tm-color-primary">{{ content.Comment.count }} Comment</span>
            </div>

            <!-- Comments -->
            {% if content.Comment %}
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                {% for comment in content.Comment.all %}
                <div class="tm-comment tm-mb-45">
                    <figure class="tm-comment-figure">
                        <img src="{{ user.profile.picture.url }}"  class="fa fa-user-circle fa-2x me-2">
                        <figcaption class="tm-color-primary text-center">{{ comment.user.username }}</figcaption>
                    </figure>
                    <div>
                        <p class="center">
                            {{ comment.text }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <span class="tm-color-primary">{{ comment.date }}</span>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                <p>No comments yet.</p>
                {% endif %}
                <br>
                <br>
                <form method="post" onsubmit="return validateForm();">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="comment-text" id="comment-text" rows="3"
                            placeholder="Write your comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    function validateForm() {
        var commentText = document.getElementById('comment-text').value;
        if (!commentText.trim()) {
            alert('Please enter a comment.');
            return false;
        }
        return true;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
{% endblock %}